{% extends 'base.html.twig' %}

{% block title %}Image Generator App{% endblock %}

{% block body %}
  {{ form(form) }}

  <hr/>

  <div class="container" id="image-list-container">
    <div class="card" style="width: 18rem;" hidden="hidden">
      <img class="card-img-top" src="" alt="Card image" loading="lazy">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>

  <hr/>

  <pre>
    {{ dump(generatedUuids) }}
  </pre>
{% endblock %}