commands: 
  01-download-cluster-client:
    copmmand: wget http://elasticache-downloads.s3.amazonaws.com/ClusterClient/PHP-7.3/latest-64bit
  02-extract-cluster-client:
    command: tar -zxvf latest-64bit
  03-install-cluster-client: 
    command: |
      sudo mv artifact/amazon-elasticache-cluster-client.so /usr/lib64/php/7.0/modules/ && \
      echo "extension=amazon-elasticache-cluster-client.so" | sudo tee --append /etc/php-7.0.d/50-memcached.ini